<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>registrazioneServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrazioneServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
  
    <servlet-name>paginaDiBenvenuto</servlet-name>
    <servlet-class>servlets.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paginaDiBenvenuto</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>filtroLogin</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filtroLogin</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>gestioneTransazioni</servlet-name>
    <servlet-class>servlets.TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestioneTransazioni</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>visualizzazioniTransazioni</servlet-name>
    <servlet-class>servlets.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visualizzazioniTransazioni</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  
  <session-config>
  <session-timeout>1</session-timeout>
  </session-config>
</web-app>